<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>

  {{>navbar}}
  
<!-- main header -->
<div class ="container-fluid main_header">
    <div class ="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class ="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="images/bg4.jpg" alt="404_error" class="img-fluid" title="404_error">
                    </figure>
                    <p>Welcome to Weather Report</p>
                    <h1>{{errormsg}}</h1>
                    <a href ="/"><button> Go Back </button></a>
                </div>
               
            </div>
        </div>
    </div>
</div>        
 {{>footer}}
</body>
</html>