<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
</head>
<body>

  {{>navbar}}
  
<!-- main header -->
<div class ="container-fluid main_header">
    <div class ="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class ="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/bg3.png" alt="aditya" class="img-fluid" title="aditya weather repo">
                    </figure>
                 </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Aditya's Weather Report</p>
                    <h1>I am a <span class="text_clr"> Full stack developer and Data Scientist </span> who loves to code</h1>
                    <a href ="https://github.com/Adi3011" target="_blank"><button> About Me </button></a>
                </div>
               
            </div>
        </div>
    </div>
</div>        
 {{>footer}}
</body>
</html>