<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>

    {{>navbar}}
    
<!-- main header -->
<div class ="container-fluid main_header">
    <div class ="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main-content">
                <form class="temp_form">
                    <input type ="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                    <input type="submit" value="submitBtn">
                </form>

            </div>
        </div>
    </div>
</div>        
{{>footer}}
</body>
</html>